<section id="projects" class="p-10 bg-gray-100 text-center">
  <h2 class="text-3xl font-semibold mb-6">Projects</h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 max-w-6xl mx-auto"
  >
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow"
    >
      <img
        src="tailwind.png"
        alt="Project One"
        class="w-full h-48 object-cover rounded-t-lg mb-4"
      />
      <h3 class="text-xl font-bold mb-2">PORTFOLIO</h3>
      <p class="text-gray-600">Portfolio for Software Developer</p>
      <div class="flex justify-between mt-4">
        <a
          href="https://github.com/sheikharbazalam/drjd-chat"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >View Code</a
        >
        <a
          href="https://drjd-chat.vercel.app/"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
          >Live Demo</a
        >
      </div>
    </div>

    <div
      class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow"
    >
      <img
        src="news.png"
        alt="Project Two"
        class="w-full h-48 object-cover rounded-t-lg mb-4"
      />
      <h3 class="text-xl font-bold mb-2">drjdnews News Web Application</h3>
      <p class="text-gray-600">
        Keeping users informed with the latest news, this app employs React.js
        and Next.js for dynamic content delivery. Utilizing the NewsAPI, it
        offers a seamless browsing experience across diverse news categories..
      </p>
      <div class="flex justify-between mt-4">
        <a
          href="https://github.com/sheikharbazalam/news-app-api"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >View Code</a
        >
        <a
          href="http://localhost:3001/"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
          >Live Demo</a
        >
      </div>
    </div>

    <div
      class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow"
    >
      <img
        src="draw.png"
        alt="Project Three"
        class="w-full h-48 object-cover rounded-t-lg mb-4"
      />
      <h3 class="text-xl font-bold mb-2">Drawing Application</h3>
      <p class="text-gray-600">
        Drawing Application For user, where user can draw images same like
        Microsoft Paint
      </p>
      <div class="flex justify-between mt-4">
        <a
          href="https://github.com/thespoof-source/Drawing-app-nextjs.git"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >View Code</a
        >
        <a
          href="https://drjddrawing.vercel.app/"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
          >Live Demo</a
        >
      </div>
    </div>

    <div
      class="bg-white p-6 rounded-lg shadow-md hover:shadow-xl transition-shadow"
    >
      <img
        src="chat.png"
        alt="Project Four"
        class="w-full h-48 object-cover rounded-t-lg mb-4"
      />
      <h3 class="text-xl font-bold mb-2">CHAT APP</h3>
      <p class="text-gray-600">User Authentication Chat Web Application</p>
      <div class="flex justify-between mt-4">
        <a
          href="https://github.com/sheikharbazalam/CHAT_APP"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
          >View Code</a
        >
        <a
          href="http://localhost:5173/"
          class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
          >Live Demo</a
        >
      </div>
    </div>
  </div>
</section>
