<section
  id="about"
  class="relative isolate bg-white text-black px-6 py-24 sm:py-32 lg:px-8"
>
  <div class="bg-white py-24 sm:py-32 border-r-4">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <p
          class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl lg:text-balance"
        >
          All About Me
        </p>
        <p class="mt-6 text-lg/8 text-gray-600">
          I am Sheikh Arbaz Alam, a passionate Software Developer with a strong
          foundation in design principles and a commitment to delivering
          exceptional digital experiences. Throughout my internships and
          training experiences, I have had the opportunity to immerse myself in
          the world of user-centered design, honing my skills in user research,
          information architecture, and interactive prototyping.
        </p>

        <p class="mt-6 text-lg/8 text-gray-600">
          I believe that thoughtful design has the power to transform user
          interactions, and I am dedicated to creating intuitive and visually
          compelling solutions. Let's collaborate to bring your visions to life
          with creativity, functionality, and impact.
        </p>

        <p class="mt-6 text-lg/8 text-gray-600">
          In my free time, I enjoy exploring the latest design trends,
          experimenting with new libraries and frameworks, and contributing to
          open-source projects. I'm inspired by the creativity of the web
          community and am always eager to learn and grow as a developer.
          Whether I'm crafting pixel-perfect layouts or optimizing the
          performance of a site, I approach my work with dedication and a keen
          eye for detail.
        </p>
      </div>
    </div>
  </div>
</section>
