<nav class="bg-gray-900 text-white p-4 flex justify-between items-center">
  <div class="text-2xl font-bold">SHEIKH</div>
  <div class="space-x-4">
    <a
      (click)="scrollTo('home')"
      class="mt-1 hover:text-blue-400 cursor-pointer bg-slate-600 rounded-md px-3.5 py-2.5 text-center text-white font-semibold"
      >Home</a
    >
    <a
      (click)="scrollTo('about')"
      class="mt-1 hover:text-blue-400 cursor-pointer bg-slate-600 rounded-md px-3.5 py-2.5 text-center text-white font-semibold"
      >About</a
    >
    <a
      (click)="scrollTo('skills')"
      class="mt-1 hover:text-blue-400 cursor-pointer bg-slate-600 rounded-md px-3.5 py-2.5 text-center text-white font-semibold"
      >Skills</a
    >
    <a
      (click)="scrollTo('projects')"
      class="mt-1 hover:text-blue-400 cursor-pointer bg-slate-600 rounded-md px-3.5 py-2.5 text-center text-white font-semibold"
      >Projects</a
    >
    <a
      (click)="scrollTo('contact')"
      class="mt-1 hover:text-blue-400 cursor-pointer bg-slate-600 rounded-md px-3.5 py-2.5 text-center text-white font-semibold"
      >Contact</a
    >
    <a
      (click)="scrollTo('messages')"
      class="mt-1 hover:text-blue-400 cursor-pointer bg-slate-600 rounded-md px-3.5 py-2.5 text-center text-white font-semibold"
      >Messages</a
    >
  </div>
</nav>

