<section id="skills" class="p-10 bg-white text-center">
  <h2 class="text-3xl font-semibold mb-6">Skills</h2>
  <!--w-screen max-w-md flex-auto overflow-hidden rounded-3xl bg-white text-sm/6 shadow-lg ring-1 ring-gray-900/5">-->
  <div class="grid grid-cols-2 md:grid-cols-4 gap-10 max-w-5xl mx-auto">
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-html5 text-red-600 text-4xl mb-2"></i>
      <span class="font-semibold">HTML</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-css3-alt text-blue-600 text-4xl mb-2"></i>
      <span class="font-semibold">CSS</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-js-square text-yellow-600 text-4xl mb-2"></i>
      <span class="font-semibold">JavaScript</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-angular text-red-600 text-4xl mb-2"></i>
      <span class="font-semibold">Angular</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-react text-blue-600 text-4xl mb-2"></i>
      <span class="font-semibold">React</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-node text-green-600 text-4xl mb-2"></i>
      <span class="font-semibold">Node.js</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-python text-yellow-600 text-4xl mb-2"></i>
      <span class="font-semibold">Python</span>
    </div>
    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fas fa-database text-blue-700 text-4xl mb-2"></i>
      <span class="font-semibold">SQL</span>
    </div>

    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fas fa-database text-blue-700 text-4xl mb-2"></i>
      <span class="font-semibold">MongoDb</span>
    </div>

    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-java text-blue-700 text-4xl mb-2"></i>
      <span class="font-semibold">Java</span>
    </div>

    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fas fa-code text-blue-700 text-4xl mb-2"></i>
      <span class="font-semibold">Flask</span>
    </div>

    <div
      class="flex flex-col overflow-hidden rounded-3xl bg-white items-center shadow-lg ring-1 ring-gray-900/5 p-10"
    >
      <i class="fab fa-php text-blue-700 text-4xl mb-2"></i>
      <span class="font-semibold">PHP</span>
    </div>
  </div>
</section>
